*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
}

body {
    overflow: hidden;
}

button{
    padding: 10px 20px;
    font-weight: 600;
    background-color: crimson;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    position: relative;
    z-index: 9;
}

button:active{
    transform: scale(0.98);
}

h1{
    white-space: nowrap;
}